.card{
  width:25%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width:$mobile) {
    width: 50%;
  }

  &__body{  
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 30px;
    text-align: center;
    position: relative;
    &:hover{
      box-shadow: 0 0 20px 0 rgb(0 0 0 / 25%);
    }
    &:hover .card__icon{
      transform:translateY(0);
      opacity:1;
    }
    &:hover{
      &::after{
        opacity: 1;
        visibility: inherit;
        transform: translateX(0);
      }
    }
    &::after{
      bottom: 0;
      content: "";
      display: block;
      height: 3px;
      margin: auto;
      position: relative;
      z-index: 1;
      vertical-align: middle;
      width: 60px;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-65px);
      transition: all .4s ease-in-out 0s;
      background-color: $bg-header;
    }
  }

  &__img{
    position: relative;
    height: 260px;
    img{
      height: auto;
    }
  }

  &__text{
    text-align: center;
    padding: 10px 5px 30px;
    background-color: $bg-text-card;
  }

  &__title{
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span{
      font-weight:300;
    }
  }
  &__price{
    span{
      color: $bg-header;
      font-weight: 500;
    }
  }

  &__icon{
    position: absolute;
    bottom: 0;
    background: rgba(255,255,255,.7);
    width: 100%;
    transform:translateY(100%);
    transition:0.3s;
    left: 0;
    opacity: 0;
    padding: 10px 0;

    a{
      background-color: $bg-header;
      color: $white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      svg{
        font-size:20px;
      }
    }

  }

  &__cart{
    margin-right: 4px;
  }
}