.footer{
  background: $bg-footer;
  padding-bottom: 15px;
  padding-top: 15px;

  &__body{
    display: flex;
    @media (max-width:$tablet) {
      flex-wrap: wrap;
    }
  }

  &__item{
    width: 25%;
    padding:0 15px;
    border-right: 1px solid $color-border-menu;
    text-align: center;
    &:nth-child(4n){
      border-right:none;
    }

    a:hover{
      color:$bg-header;
    }
    @media (max-width:$tablet) {
      &:nth-child(1){
        border-right:none;
        width: 100%;
        margin-bottom: 10px;
      }
      width: 33.33333%;
      text-align:left;
    }
    @media (max-width:$mobile) {
      width: 50%;
      text-align:left;
      margin-bottom: 20px;
      border:none;
    }
  }

  &__title{
    font-size:18px;
  }

  &__content{
    p{
      text-align:left;
    }
    ul{
      padding-left: 0;
      list-style: none;
      margin-bottom: 20px;
      text-align: left;
      li{
        font-size: 14px;
        padding: 5px 0;
        display:flex;
        svg{
          width: 30px;
          margin-top:5px;
        }
        span{
          width: calc(100% - 30px);
        }
      }
    }
  }

  &__menu{
    li{
      font-size: 14px;
      padding: 5px 0;
    }
  }
}