
.container{
  width: 100%;
  max-width: $desktop;
  margin:0 auto;
  @media (max-width:$tablet) {
    width: 760px;
    padding: 0 10px;
  }
  @media (max-width:$mobile) {
    width: 100%;
    padding: 0 10px;
  }
}

.col-lg-3{
  width: calc(100% / 3);
  padding: 0 15px;
}

.btn{
  background: linear-gradient(to right,#fdbb2d,#22c1c3);
  border: medium none;
  display: inline-block;
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 50px;
  height: 50px;
  padding: 0 16px;
  outline: medium none;
  text-align: center;
  position: relative;
  width: 160px;
  text-transform: uppercase;
  z-index: 3;
  transition: all .4s ease-in-out;
  color: #333;
  @media (max-width:$mobile) {
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    padding: 0 10px;
    width: 120px;
  }
  &::after{
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: -2;
    
  }
  &:hover {
    color: $white;
  }
}
.btn:hover {
  &::after{
    background: 0 0;
  }
}