* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: $text;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5{
  margin-top:10px;
  margin-bottom:10px;
  color: $color-text;
}