
$desktop: 1200px;
$tablet: 990px;
$mobile: 768px;
$miniMobile:480px;

// color
$text : #333;
$title:#222;
$white: #fff;
$red: red;
$bg-header:#61c472;
$color-border-header: #42b055;
$color-border-menu:#e5e5e5;
$color-text:#323c3f;
$bg-text-card:#f7f8f9;
$color-product-menu:#8c8c8c;
$bg-info:#fafafa;
$color-p-info:#525252;
$bg-footer:#f4f4f4;
$color-border-account:#efefef;
$color-bg-login:#d8d8d8;
$color-border-login:#d1d1d1;
$color-buttom-login:#96c93d;
$color-buttom-login2:#00b09b;
$color-buttom-login3:#819ff7;
$color-strong:#999;